QWidget
{
        background-color: Lightslategray;
        color: white;
}

QLabel
{
        background-color: Lightslategray;
}

QDialog {

        background-color: Lightslategray;

}
